<ng-template [lhindPermission]="'CanCreateTrip'">
  <div style="margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;">
    <button mat-stroked-button (click)="addElement()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      Add <span [textContent]="OnDemandCacheService.selectedOnDemandTypeSubject$ | async"></span>

    </button>
  </div>
</ng-template>
<mat-accordion >
  <ng-container *ngFor="let sectionElement of (OnDemandCacheService.currentOnDemandDataSubject$ | async) as onDemandData;index as i">
  <mat-expansion-panel hideToggle style="margin:0;border-radius:0px" (click)="selectElement(sectionElement)">
    <mat-expansion-panel-header >
      <mat-panel-title style="justify-content:space-between"><span>{{sectionElement.name ? sectionElement.name : sectionElement.from + ' - ' + sectionElement.to }}</span>
        @if(userService.currentUser?.role === 'Approver'){
          @if(sectionElement.status === TripStatus.Approved){
            <span style="width:10px;height:10px;border-radius:50%" [ngStyle]="{'background-color': sectionElement['setForApproval'] ? 'blue' : ''}"></span>
          } @else if (sectionElement.status === TripStatus.Cancel){
            <span style="width:10px;height:10px;border-radius:50%" [ngStyle]="{'background-color': sectionElement['setForApproval'] ? 'red' : ''}"></span>
          }@else{
            <span style="width:10px;height:10px;border-radius:50%" [ngStyle]="{'background-color': sectionElement['setForApproval'] ? 'green' : ''}"></span>
          }
        }
        @else if(userService.currentUser?.role === 'Finance'){
          @if(sectionElement['financeStatus'] === FinanceStatus.InProcess){
            <span style="width:10px;height:10px;border-radius:50%;background-color: orange"></span>
          } @else if (sectionElement['financeStatus'] === FinanceStatus.Refunded){
            <span style="width:10px;height:10px;border-radius:50%" [ngStyle]="{'background-color': sectionElement['financeStatus'] ? 'green' : ''}"></span>
          }
        }

      </mat-panel-title>
    </mat-expansion-panel-header>
<!--    <lhind-dynamic-accordion-display-->
<!--      [object]="section"-->
<!--      [excludeKeys]="['id', 'name']"-->
<!--    >-->
<!--    </lhind-dynamic-accordion-display>-->
<!--    <span *ngFor="let key of getKeys(section)">-->
<!--    {{ key }}: {{ section[key] }}-->
<!--  </span>-->
  </mat-expansion-panel>
  </ng-container>
</mat-accordion>