@if(!!(onDemandCacheService.currentOnDemandDataSubject$ | async) && selectedObject){
  <form *ngIf="formGroup" [formGroup]="formGroup" style="padding:10px">
    <div *ngFor="let key of getKeys()">
      <mat-form-field appearance="fill" class="form-field" style="width: 100%">
        <mat-label>{{ key }}</mat-label>
        <input matInput [formControlName]="key" [type]="getFieldType(formGroup.get(key)?.value)" />
        <mat-error *ngIf="formGroup.get(key)?.hasError('required')">
          {{ key }} is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  @if(formGroup.valid){
  <ng-template [lhindPermission]="'SendForApproval'">
    <button mat-raised-button (click)="sendForApproval()">Send For Approval </button>
  </ng-template>
}
    <ng-template [lhindPermission]="'CanApproveTrip'">
      <div style="display: flex;
    justify-content: space-around;">
        <button mat-raised-button (click)="approveOrCancel('cancel')">Cancel </button>
        <button mat-flat-button (click)="approveOrCancel('approve')">Approve </button>

      </div>
    </ng-template>


    <ng-template [lhindPermission]="'CanManageFinance'">
      <div style="display: flex;
    justify-content: space-around;">
        <button mat-raised-button (click)="manageFinance('inprocess')">In process </button>
        <button mat-flat-button (click)="manageFinance('refund')">Refund </button>

      </div>
    </ng-template>




}