@if(!!(onDemandCacheService.currentOnDemandDataSubject$ | async) && selectedObject){
  <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()" style="padding:10px">
    <div *ngFor="let key of getKeys()">
      <mat-form-field appearance="fill" class="form-field" style="width: 100%">
        <mat-label>{{ key }}</mat-label>
        <input matInput [formControlName]="key" [type]="getFieldType(formGroup.get(key)?.value)" />
        <mat-error *ngIf="formGroup.get(key)?.hasError('required')">
          {{ key }} is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  @if(formGroup.valid){
  <ng-template [lhindPermission]="'SendForApproval'">
    <button mat-raised-button (click)="sendForApproval()">Send For Approval </button>
  </ng-template>
  }
}